.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label {
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
  color: #282c34;
}

.label-green {
  background-color: lightgreen;
  color: #282c34;
}

input {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px;
}

button {
  border: none;
  outline: none;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #0e1013;
  transition: all ease-in-out 200ms;
  color: azure;
}

textarea {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}
